.box1 {
    margin-top: 2%;
}

.box2 {
    margin-top: 2%;
}

.box3 {
    margin-top: 3%;
}

.box4 {
    margin-top: 3%;
}

#kontener {
    margin-left: 10%;
    margin-right: 10%;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 100%;
    padding: 5px;
    width: auto;
}

.navbar-default {
    background-color: white;
}

.navbar-default .navbar-nav > li > a {
    color: pink;
}

.navbar-default .navbar-nav > li.active > a {
    color: green;
    background: pink;
}

.navbar-default .navbar-nav > li.active > a:hover {
    color: pink;
    background: green;
}

p {
    color: green;
    margin-top: 2%;
}

a.thumbnail {
    margin-top: 10%;
}

.carousel-indicators li {
    background: 0000;
}

.carousel-indicators .active {
    background: white;
}

.carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
}